<ion-view view-title="PopVeille">
  <ion-content class="padding">
    <h2 class="text-center">Bienvenue sur PopVeille</h2>
    <h3 class="text-center">Effectuez desormais vos veilles technologiques sur votre mobile android !</h3>
  </ion-content>
</ion-view>
