<ion-view view-title="Veilles">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="veille in veilles" type="item-text-wrap">
        <div class="card">
          <div class="item item-divider">
            <h2>{{veille.title}}</h2>
          </div>
          <div class="item item-text-wrap">
            <p>{{veille.description}}</p>
            <!-- <button class="button button-small button-calm"> -->
              <a href="#/tab/veille/{{veille.id}}">Read more...</a>
            <!-- </button> -->
          </div>
          <div class="item item-divider">
            <div class="row padding">
            <p class="col">Publié le: {{veille.date}}</p>
            <p class="col">Tag: {{veille.type}}</p>
          </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
