<ion-view view-title="Users">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="user in users" type="item-text-wrap" href="#/tab/users/{{user.id}}">
        <div class="row padding">
      <h2 class="col col-33">{{user.firstname}} {{user.name}}</h2>
      <button class="button button-small col col-33 col-offset-33"><a href="#/tab/users-detail">Consulter le profil</a></button>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
