<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Acceuil" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- POP Tab -->
  <ion-tab title="Les veilles" icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/tab/popveille">
    <ion-nav-view name="tab-popveille"></ion-nav-view>
  </ion-tab>

  <!-- users Tab -->
  <ion-tab title="Les utilisateurs" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/users">
    <ion-nav-view name="tab-users"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-chatboxes" icon-on="ion-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-gear-b" icon-on="ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
