<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Profil">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        <h2 class="text-center">{{user.firstname}} {{user.name}}</h2>
      </div>
      <div class="item item-body">
        <br>
        <p><b>Promotion:</b> {{user.promo}}</p>
        <p><b>Email:</b> {{user.email}}</p>

        <h3 class="text-center">Toutes les veilles de {{user.firstname}} {{user.name}}</h3>
        <ion-item class="item item-body" ng-repeat="veille in veilles" href="#/tab/veilles/{{veille.id}}">
        <p><b>{{veille.title}}</b></p>
        <p>{{veille.description}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
