<ion-view view-title="Détail">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        <h2 class="text-center">{{veille.title}}</h2>
      </div>
      <div class="item item-body">
        <br>
        <p><b>Title:</b> {{veille.title}}</p>
        <p><b>Publié le:</b> {{veille.date}}</p>
        <p><b>Catégorie:</b> {{veille.type}}</p>
        <p><b>Description:</b> {{veille.description}}</p>
        <p><b>Link:</b> {{veille.link}}</p>
        <p><b>Par:</b><a href="#/tab/users/{{veille.user[0].id}}"> {{veille.user[0].firstname}} {{veille.user[0].name}}</a></p>
        <p><b>File name:</b> {{veille.filename}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
